<!DOCTYPE html>

<head>
  <title>Recipe Mixer</title>
  <script 
    type="text/javascript" 
    src="{{ url_for('static', filename='socket.io.js') }}">
  </script>
  
  <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous">
  </script>
        
  <script type="text/javascript" charset="utf-8">
    const url = `http://${document.domain}:${location.port}/serial`;
    $(document).ready(function() {
      let socket = io.connect(url);
      socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
      });
      
      
      $('#send').click(function(event) {
        const message = $('#message').val();
        const data = '{' + '"message": "' + message + '"}';
        socket.emit("send", data=data);
      });
      socket.on("serial_message", function(data) {
        console.log(data);
        const text = data["serial_message"];
        let $textarea = $("#serial_message");
        $textarea.text("value from serial: " + text);
      })
    });
  </script>

</head>

<body>
  <h1>Recipe Mixer!</h1>
  <h4>The date and time on the server is: {{ time }}</h4>
  <h3>Your {{ name }} recipe:</h3>
  <h3 id="serial_message"></h3>
  <h4>Ingredients</h4>
  <ol>
    {% for ingredient in ingredients %} 
    <li>{{ ingredient }}</li> 
    {% endfor %} 
  </ol>
  <h4>Instructions</h4>
  <ol>
    {% for instruction in instructions %} 
    <li>{{ instruction }}</li> 
    {% endfor %} 
  </ol>
</body>

</html>
